<p>
  page-detail works!
</p>

<div class="container">
  <div class="col-sm-12">
    <img src="{{col.photoUrl}}" width="400" heigth="400" />
  </div>

  <div class="row">
    <div class="col-sm-6">
      <p>Matricule : </p>
      <p>Nom : </p>
      <p>Prenoms : </p>
      <p>Date de Naissance : </p>
      <p>Email : </p>
    </div>

    <div class="col-sm-6">
      <p>{{col.matricule}}</p>
      <p>{{col.nom | uppercase}}</p>
      <p>{{col.prenoms}}</p>
      <p>{{col.dateDeNaissance | date:'mediumDate'}}</p>
      <p>{{col.email}}</p>
    </div>

  </div>

  <div class="row">
      <p>Laisser un commentaire : </p>
      <input type="text" name="message" #message="ngModel" [(ngModel)]="comment.message">
      <button (click)="ajouterNoteCourante()">Enregistrer</button>
  
  </div>

  <h3>Liste de notes</h3>
    <ul>
        <li *ngFor="let comment of col.notes">{{comment}}</li>
    </ul>

  <button routerLink="/gallerie" routerLinkActive="active-link" >Retour</button>

</div>