<div class="container">

  <div class="row">

    <div class="col">
      <button class="btn btn-light" routerLink="/accueil" routerLinkActive="active-link">Accueil</button>
    </div>

    <div class="col">
      <button class="btn btn-light" routerLink="/gallerie" routerLinkActive="active-link">Gallerie</button>
    </div>

  <div class="col">
    <button class="btn btn-light" routerLink="/apropos" routerLinkActive="active-link">A propos</button>
  </div>

  <div class="col  align-self-end">
    <button class="btn btn-dark" routerLink="/auth" routerLinkActive="active-link" (click)=afficher()>Connexion</button>
    <button class="btn btn-dark" routerLink="/logout" routerLinkActive="active-link">Deconnexion</button>

  </div>

</div>


