<div class="container" p-1 *ngIf="creationCollegue==false">
    
    <div class="row">

    <div class="col-sm-4">
      <img src="{{col.photoUrl}}" width="100" heigth="100" />
    </div>
   
    <div class="col-sm-4">
      <p>Matricule : </p>
      <p>Nom : </p>
      <p>Prenoms : </p>
      <p>Date de Naissance : </p>
      <p>Email : </p>
      <p *ngIf="affichageStandard; else elseBlock1"></p>
      <ng-template #elseBlock1>Photo URL :</ng-template>
      
    </div>
   
    <div class="col-sm-4">
      
        <p>{{col.matricule}}</p>
        <p>{{col.nom | uppercase}}</p>
        <p>{{col.prenoms}}</p>
        <p>{{col.dateDeNaissance | date:'mediumDate'}}</p>
        <p *ngIf="affichageStandard; else elseBlock2">{{col.email}}</p>

        <form (ngSubmit)="modifierCollegue()" #modifForm="ngForm">

          <ng-template #elseBlock2>
              <input type="text" name="email" #email="ngModel" [(ngModel)]="col.email" required >
              <p *ngIf="email.hasError('required')" ng-message="required">L'email doit etre renseignee'</p>
              <input type="text" name="photoUrl" #photoUrl="ngModel" [(ngModel)]="col.photoUrl" required minlength="7">
              <p *ngIf="photoUrl.hasError('required')" ng-message="required">L'image doit etre renseignee</p>
              <p *ngIf="photoUrl.hasError('minlength')" ng-message="minlength">L'adresse doit avoir 7 characteres minimum</p>
            
          </ng-template>

          <ng-template #elseBlock3>
              <div class="row justify-content-end" >
                  <button type="submit" (click)="modifierCollegue()" [hidden]="modifForm.invalid">Valider</button>
                  <button (click)="afficherBouton()">Retour</button>
              </div>
          </ng-template>
        </form>
      
    </div>

  </div>

  <div class="row justify-content-end" 
    *ngIf="affichageStandard; else elseBlock3"> 
    <a role="button" (click)="creerCollegue()">Creer un nouveau collègue</a>
    <button (click)="afficherBouton()" >Modifier</button>
  </div>
  
</div>

<div *ngIf="creationCollegue==true"> 
  <app-creation-collegue (creationCollegue)="creationCollegue=($event)"></app-creation-collegue>
  <!--(variableEmetrice)="variableReceptrice=($event)" ou (variableEmetrice)="fonction(?emetrice)($event)-->
</div>


