<div class="container">


<p>
  collegue works!
</p>

<div class="row">


  <div class="col-sm-4">
    <img src="{{col.photoUrl}}" width="100" heigth="100" />
  </div>

  <div class="col-sm-4">
    <p>Matricule : </p>
    <p>Nom : </p>
    <p>Prenoms : </p>
    <p>Date de Naissance : </p>
    <p>Email : </p>
    <a (click)="creerCollegue()" href="#" >Creer un nouveau collègue</a>
  </div>

  <div class="col-sm-4">
      <p>{{col.matricule}}</p>
      <p>{{col.nom}}</p>
      <p>{{col.prenoms}}</p>
      <p>{{col.dateDeNaissance}}</p>
      <p>{{col.email}}</p>
      <button (click)="modifierCollegue()">Modifier</button>
    </div>

</div>

</div>